           <!-- Danger Zone -->
              <div class="bg-white rounded-lg border shadow mt-2 p-5">
                <h2 class="text-red-600 font-semibold mb-2">Danger Zone</h2>
                <div
                  class="border border-red-300 p-4 rounded-lg flex flex-row justify-between items-center"
                >
                  <div>
                    <p class="text-sm text-gray-600 mt-1">
                      Restart Interface wg0
                    </p>
                    <p class="text-xs text-gray-500">
                      This will restart the wg0 interface and apply
                      configuration changes
                    </p>
                  </div>
                  <button
                    class="mt-3 bg-red-600 text-white px-4 py-2 rounded-md text-sm"
                  >
                    <i class="fa-solid fa-triangle-exclamation"></i> Restart
                    Interface
                  </button>
                </div>
              </div>