<div class=" flex flex-col border shadow-lg rounded-lg p-5">
    <div class="flex flex-row justify-between mb-4">
        <span>Client Configurations</span>

        <button
            class="flex items-center gap-2 border text-black hover:bg-gray-50 px-4 py-2 rounded-md text-sm font-medium">
            <i class="fa-solid fa-plus"></i>
            Add Peer
        </button>
    </div>
    <div class="border rounded p-4 flex flex-row justify-between text-xs rounded-lg">

        <div class="grid gap-1">
            <!-- Row 1 -->
            <div class="grid grid-cols-[1fr_auto] items-center">
                <div class="flex flex-row gap-2 items-center">
                    <div class="font-bold">John Laptop</div>
                    <div class="badge bg-gray-300 rounded-lg " style="padding: 2px;">inactive</div>
                </div>
            </div>

            <!-- Row 2 -->
            <span class="text-gray-500">192.168.29.80 • Created 29/09/2025</span>

            <!-- Row 3 -->
            <span class="break-all text-gray-500 text-xs">

                789abcdef123456789abcdef123456789abcdef123456789abcdef123456789abc=
            </span>
        </div>

        <div class="flex gap-2 items-center">

            <button class="border border-blue-600 text-blue-600  p-1 rounded-md text-sm ">
                <i class="fa-solid fa-qrcode"></i>
            </button>

            <button class="border border-red-600 text-red-600  p-1 rounded-md text-sm ">
                <i class="fa-solid fa-trash"></i>
            </button>
            <button class="text-black p-1  text-green-500 rounded-md text-sm border border-green-500 ml-2">
                <i class="fa-solid fa-toggle-on"></i>
            </button>

        </div>

    </div>


    <div> </div>

</div>

</div>